.infoCard{
    display: flex;
    margin: 100px 100px;
    justify-content: center;
}

.infoCardInfo{
    width: 500px;
}

.infoCard h1{
    font-size: 60px;
}

.imgDiv{
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image1{
    background-color: #F9C9C5;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.infoCard p{
    width: 500px;
    margin-bottom: 30px;
}
