.headerDiv{
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: end;
    justify-content: end;
  }
  

  
  li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
